@import "tailwindcss";

@theme {

    --font-Outfit: "Outfit", "sans-serif";
    --font-Sora-reg: "Sora", "sans-serif";
    --font-Sora-light: "Sora-light", "sans-serif";
    --font-Sora-black: "Sora-black", "sans-serif";

    --color-bg-100: #131313;
    --color-bg-200: #303030;
    --color-bg-300:#262626;
    --color-stroke-100:#E7DCA3;

    --color-primary-100: #FFB85C;
    --color-primary-200: #FFDE2E;
    --color-input-100: #262626;
    --color-offWhite-100: #FFFBF1;
    --color-offGray-100: rgba(255, 251, 241, 0.5);
}

@font-face {
    font-family: "Outfit";
    src: url("./src/assets/fonts/Outfit-Regular.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Sora";
    src: url("./src/assets/fonts/Sora-Regular.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Sora-light";
    src: url("./src/assets/fonts/Sora-Light.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
  }

  
  @font-face {
    font-family: "Sora-black";
    src: url("./src/assets/fonts/Sora-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
  }

@keyframes appearLeft {
   from{
    transform: translate(-500px);
    opacity: 0;
   } 
   to{
    transform: translate(0px);
    opacity: 1;
   }
}


@keyframes appearDown {
  from{
   transform: translate(0px , 300px);
   opacity: 0;
  } 
  to{
   transform: translate(0px);
   opacity: 1;
  }
}

@keyframes flutua{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-5px);
  }
  100%{
    transform: translateY(0px);
  }

}

@keyframes appearRight {
  0%{
   transform: translate(200px);
   opacity: 0;
  } 

  20%{
    transform: translate(0px);
    opacity: 1;
   }
  80%{
   transform: translate(0px);
   opacity: 1;
  }
  100%{
    opacity:0;
  }
}

@keyframes popSection{
   0%{
    transform: translate(20px , 0px );
   }
    100%{
      transform: translate(0px , 0px );
    }


}
@keyframes popModal{
   0%{
    transform: translate(0px , 80px );
    opacity: 0;
   }
    100%{
      transform: translate(0px , 0px );
      opacity: 1;
    }


}
@keyframes dropModal{
  0%{
   transform: translate(0px , 0px );
   opacity: 1;
  }
   100%{
     transform: translate(0px , 80px );
     opacity: 0;
   }



}
.dropModal{
  animation-timing-function: ease;
  animation-duration: 0.5s;
  animation-name: dropModal;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

.popModal{
  animation-timing-function: ease;
  animation-duration: 0.5s;
  animation-name: popModal;
  animation-iteration-count: 1;
  animation-direction: alternate;
}



.popAnim{
  animation-timing-function: ease;
  animation-duration: 0.5s;
  animation-name: popSection;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

.Apleft{
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-name: appearLeft;
    animation-iteration-count: 1;
   
}

.ApDown{
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-name: appearDown;
  animation-iteration-count: 1;
 
}

.ApRight{
  animation-timing-function: ease;
  animation-duration: 4s;
  animation-name: appearRight;
  animation-iteration-count: 1;
 
}

.Flutua{
  animation-timing-function: ease;
  animation-duration: 6s;
  animation-name: flutua;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


.glassBg{
  background: linear-gradient(45deg ,rgb(225,211,185,0.1) 0%, rgb(251,240,220,0.1) 100%);
  backdrop-filter: blur(2px);
}

.glassBgError{
  background: linear-gradient(180deg ,rgba(255, 67, 67, 0.1) 0%, rgba(255, 251, 244, 0.1) 100%);
  backdrop-filter: blur(2px);
}


.glassBgStrong{
  background: linear-gradient(60deg ,rgba(54, 53, 51, 0.95) 0%, rgba(55, 55, 54, 0.95) 100%);
  backdrop-filter: blur(2px);
}

.error{
  background: linear-gradient(180deg, rgb(255, 219, 219) 0%, rgba(255, 255, 255, 1) 100%);
}

.cardGs{
  will-change: transform, opacity;
}